
<form action = "payment_results">
  <label for="rate">APR</label>
  <input id="rate" name="rate_input" placeholder="E.g 5.42"> <br>
  <label for="years">Number of years</label>
  <input id="years" name="years_input" placeholder="How many years to repay?"> <br>
  <label for="principal">Principal</label>
  <input id="principal" name="principal_input" placeholder="How much principal?"> <br>
  <button>Calculate monthly payment</button>
</form>
