
<form action = "random_results">
  <label for="lower">Minimum</label>
  <input id="lower" name="lower_input" placeholder="E.g 1.5"> <br>
  <label for="upper">Maximum</label>
  <input id="upper" name="upper_input" placeholder="E.g 4.5"> <br>
  <button>Pick random number</button>
</form>
