
<form action = "square_root_results">
  <label for="number">Enter a number</label>
  <input id="number" name="square_root_input" placeholder="What number do you want?"> <br>
  <button>Calculate square root</button>
</form>
